@import "../../node_modules/bootstrap/scss/bootstrap.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
h2 {
  font-size: 44px;
}
a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: gray;
}
.active {
  color: black;
}
button {
  border: 0;
  border-radius: 5px;
  background-color: black;
  opacity: 0.92;
  color: rgb(239, 234, 234);
  padding: 8px 16px;
  font-size: 12px;
}
small {
  opacity: 0.75;
}
.card {
  border: 0;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}
.appHeader-logo {
  font-weight: 500;
  /*Use special font here*/
}
.appHeader-logo__green {
  color: #b5d57f;
}
.appHeader-dropdownCol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.appHeader-icon {
  font-size: 44px;
}
/* Landing Banner*/
.landingBanner {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.landingBanner-card {
  position: relative;
  height: 680px;
  background-color: lightgrey;
  background-image: url(../assets/img/car04.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  margin: 0;
  padding: 0;
}
.landingBanner-card__caption {
  font-weight: 700;
  color: black;
  letter-spacing: 0.4em;
  line-height: 64px;
}
.landingBanner-card__parag {
  font-size: 18px;
  letter-spacing: 0.14em;
  line-height: 40px;
}
.landingBanner-form {
  position: absolute;
  top: 230px;
  right: 60px;
  border-radius: 16px;
  background-color: white;
  width: 22vw;
}
.landingBanner-form__button {
  display: inline-block;
  color: #181818;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 15px;
}
.landingBanner-form__buttonA {
  border: 1px solid lightgrey;
  background-color: #b5d57f;
  color: black;
}
.landingBanner-form__button :active {
  border: 1px solid lightgrey;
  background-color: #b5d57f;
  color: black;
}
.landingBanner-form__divider {
  font-size: 30px;
  font-weight: 200;
  color: gray;
}
input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 5px;
  padding: 6px;
}
// .landingBanner-form__cta {
//   display: flex;
//   align-items: center;
//   justify-items: center;
//   width: 100%;
// }
.landingBannerForm-cta__pickup {
  font-size: 13px;
}
.landingBannerForm-cta__ddown {
  background-color: #eeeeee;
}
/* Services*/
/* To-Do*/
// Change the classes name to BEM
.servicesCard-row {
  display: flex;
  gap: 3rem;
}
.servicesCard {
  background-color: #eeeeee;
  gap: 1.5rem;
}
.servicesCard img {
  background-color: black;
  background-image: url(../assets/img/airport-transfer-Mauritius.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  max-width: 270px;
  max-height: 250px;
  width: auto;
}

/* Our Fleet*/
// .ourFleet-carousel {
//   border: 2px solid brown;
// }
.ourFleet-carousel__navArrow {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 50%;
  background-color: #eeeeee;
  font-size: 15px;
  margin-right: 1rem;
}
.ourFleet-image {
  border-radius: 16px;
}
.carousel-container {
  background-color: red;
  background-color: white;
  // height: 100%;
}
.custom-dot-list-style {
  color: #b5d57f;
  // background-color: red;
  margin-top: 30px;
}
.carousel-item-padding-40-px {
  width: 20px;
  padding: 10px 2.5px 60px 2.5px;
}
/*Why Choose Us*/
.whyChooseUs-cards {
  margin-right: 5rem;
  // border: 2px solid rgb(226, 43, 104);
}
.whyChooseUs-cards__icons {
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  color: #b5d57f;
  // border: 2px solid blueviolet;
}
.whyChooseUs-cards__iconsNthChild {
  // width: 12rem;
  // height: 12rem;
  // margin-bottom: 2rem;
  // border-radius: 16px;
  color: black;
  opacity: 0.92;
  // border: 2px solid blueviolet;
}
.whyChooseUs-cards__icons .card:nth-child(even) {
  color: black;
  border: 2px solid greenyellow;
}
.whyChooseUs-cards__caption {
  width: 60%;
  margin-right: 2rem;
}
/* Only Today*/
.onlyToday-header {
  font-size: 42px;
  letter-spacing: 0.16em;
  line-height: 64px;
}
// .onlyToday-parag {
//   font-style: 72px;
//   letter-spacing: 0.1em;
// }
.onlyToday-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  border-radius: 16px;
}
.onlyToday-card__header {
  font-size: 40px;
  font-weight: 300;
}
.onlyToday-card__image {
  position: absolute;
  top: -25px;
  right: 25px;
}
.onlyToday-list {
  list-style: none;
}

.onlyToday-list li:before {
  content: "✓";
  padding-right: 10px;
}
.onlyToday-card__image {
  mix-blend-mode: darken;
  height: 350px;
  width: 600px;
}
.appFooter-card {
  border-radius: 24px;
  background-color: #181818;
  color: #eeeeee;
}
.appFooter-logo {
  font-weight: 400;
}
.appFooter-input {
  background-color: #444444;
}
.appFooter-subcribe {
  font-weight: 200;
}
.appFooter-inputArrow {
  background-color: white;
  color: black;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  margin-left: 0;
}
.appFooter-list {
  font-size: 14px;
  font-weight: 200;
  opacity: 0.75;
}
.appFooter-copyright {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.75;
}
.appFooter-tandc {
  font-size: 14px;
  font-weight: 200;
  opacity: 0.5;
}
