@import "../../node_modules/bootstrap/scss/bootstrap.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}
body {
  // background-color: yellow;
  color: black;
  // overflow-x: hidden;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
h2 {
  font-size: 44px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}
.active {
  color: gray;
}
button {
  border: 0;
  border-radius: 5px;
  background-color: black;
  color: rgb(239, 234, 234);
  padding: 8px 16px;
  font-size: 12px;
}
// button {
//   border-radius: 5px;
// }
.card {
  border: 1px solid lightgrey;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}
.landingBanner {
  width: 100vw;
  height: auto;
  border: 2px solid red;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.landingBanner-card {
  position: relative;
  height: 680px;
  background-color: lightgrey;
  color: black;
  margin: 0;
  padding: 0;
  border: 2px solid green;
}
.landingBanner-card__caption {
  // color: red;
  font-weight: 700;
  color: black;
  line-height: 64px;
  letter-spacing: 0.4em;
  line-height: 64px;
}
.landingBanner-form {
  position: absolute;
  top: 230px;
  right: 60px;
  border-radius: 16px;
  background-color: white;
  width: 22vw;
}
.landingBanner-form__button {
  display: inline-block;
  background-color: white;
  background-color: #b5d57f;
  color: #181818;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 15px;
}
.landingBanner-form__button :active {
  background-color: lightgreen;
  color: black;
  border: 0;
  padding: 6px 8px;
}
input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 5px;
  padding: 6px;
}
/* Services*/
/* To-Do*/
// Change the classes name to BEM
.servicesCard-row {
  display: flex;
  gap: 3rem;
}
.servicesCard {
  background-color: #eeeeee;
  gap: 1.5rem;
}
.servicesCard img {
  background-color: black;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  // gap: 3rem;
}

/* Our Fleet*/
.ourFleet-carousel {
  border: 2px solid brown;
}
/*Why Choose Us*/
.whyChooseUs-cards {
  margin-right: 5rem;
  border: 2px solid rgb(226, 43, 104);
}
.whyChooseUs-cards__icons {
  width: 12rem;
  height: 12rem;
  margin-bottom: 3rem;
  border-radius: 16px;
  border: 2px solid blueviolet;
}
.whyChooseUs-cards__caption {
  width: 60%;
  margin-right: 2rem;
}
/* Only Today*/
.onlyToday-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  border-radius: 16px;
}
.onlyToday-card__header {
  font-size: 40px;
  font-weight: 300;
}
.onlyToday-card__image {
  position: absolute;
  top: -3px;
  right: 0;
}
.appFooter-card {
  border-radius: 24px;
  background-color: #181818;
  color: #eeeeee;
}
.appFooter-logo {
  font-weight: 400;
}
.appFooter-input {
  background-color: #444444;
}
.appFooter-subcribe {
  font-weight: 200;
}
.appFooter-list {
  font-size: 14px;
  font-weight: 200;
}
.appFooter-copyright {
  font-size: 14px;
  font-weight: 300;
}
.appFooter-tandc {
  font-size: 14px;
  font-weight: 200;
}
